@import '../../styles/variables.scss';

.btnBox {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $active-color;
	border-radius: 20px;
	border: none;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
	width: 4.5vw;
	height: 2.9vh;
	padding: 20px;
	cursor: pointer;
}

.btnBox2 {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	border: none;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
	background-color: $white;
	width: 4.5vw;
	height: 2.9vh;
	padding: 20px;
	cursor: pointer;
}

.btnBox:hover {
	background-color: $hover-color;
}
.btnBox:active {
	background-color: $active-color;
}

.picSelectDiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 12vw;
	height: 5vh;
	color: gold;
	font-family: 'Patrick Hand';
	font-size: 1.2vw;
	text-transform: none;
}

.picSelectDivAlt {
	display: flex;
	flex-direction: row;
	align-items: center;	
	background-color: $white;
	width: 12vw;
	height: 5vh;
	font-family: 'Patrick Hand';
	font-size: 1.2vw;
	text-transform: none;
	color: $active-color;
}

.picSelectDiv:hover {
	background-color: $hover-color;
}
.picSelectDiv:active {
	background-color: $active-color;
}

.iconStyles {
	color: gold;
    width: 3.5vw;
    height: 3.5vh;
    padding: 1px;
    cursor: pointer;
}

.iconStylesAlt {
	color: $active-color;
    width: 3.5vw;
    height: 3.5vh;
    padding: 1px;
    cursor: pointer;
}

.labelStyle {
	display: flex;
	font-family: 'Patrick Hand';
	font-size: 1.2vw;
	text-transform: none;
	color: gold;
	cursor: pointer;
}

.labelStyleAlt {
	display: flex;
	font-family: 'Patrick Hand';
	font-size: 1.2vw;
	text-transform: none;
	color: $active-color;
	cursor: pointer;
}

