@import '../../../styles/variables.scss';

.button {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 8vh;
	padding-top: 4px;
	font-size: 2vw;
	font-weight: bolder;
	color: gold;
	border-radius: 0;
	text-transform: none;
	border-bottom-left-radius: 2vw;
	border-bottom-right-radius: 2vw;
	border-color: $primary-color;
	background-color: $primary-color;
	cursor: pointer;
	border-top: 1px solid $light-color;
  }
  
  .button:hover {
	background-color: $primary-color-light;
	border-color: $primary-color-light;
	border-top: 1px solid #f0eeeb;
  }

  .button.highlighted,
  .button:active {
	background-color: #538dbd;
	border-color: #538dbd;
	border-top: 1px solid #f0eeeb;
  }