@import "./variables.scss";

// Spectre.css v#{$version} | MIT License | github.com/picturepan2/spectre
// Some sections are not required right now so they are disabled to minimize the bundle size
// Enable ones that you need 

@import "node_modules/spectre.css/src/mixins";

// Reset and dependencies
@import "node_modules/spectre.css/src/normalize";
@import "node_modules/spectre.css/src/base";

// Elements
@import "node_modules/spectre.css/src/typography";
// @import "node_modules/spectre.css/src/asian";
// @import "node_modules/spectre.css/src/tables";
@import "node_modules/spectre.css/src/buttons";
// @import "node_modules/spectre.css/src/forms";
// @import "node_modules/spectre.css/src/labels";
// @import "node_modules/spectre.css/src/codes";
// @import "node_modules/spectre.css/src/media";

// Layout
@import "node_modules/spectre.css/src/layout";
@import "node_modules/spectre.css/src/hero";
// @import "node_modules/spectre.css/src/navbar";

// Components
// @import "node_modules/spectre.css/src/accordions";
// @import "node_modules/spectre.css/src/avatars";
// @import "node_modules/spectre.css/src/badges";
// @import "node_modules/spectre.css/src/breadcrumbs";
// @import "node_modules/spectre.css/src/bars";
// @import "node_modules/spectre.css/src/cards";
// @import "node_modules/spectre.css/src/chips";
// @import "node_modules/spectre.css/src/dropdowns";
// @import "node_modules/spectre.css/src/empty";
// @import "node_modules/spectre.css/src/menus";
//@import "../node_modules/spectre.css/src/modals";
// @import "node_modules/spectre.css/src/navs";
// @import "node_modules/spectre.css/src/pagination";
@import "node_modules/spectre.css/src/panels";
// @import "node_modules/spectre.css/src/popovers";
// @import "node_modules/spectre.css/src/steps";
// @import "node_modules/spectre.css/src/tabs";
// @import "node_modules/spectre.css/src/tiles";
// @import "node_modules/spectre.css/src/toasts";
// @import "node_modules/spectre.css/src/tooltips";

// Utility classes
// @import "node_modules/spectre.css/src/animations";
@import "node_modules/spectre.css/src/utilities";
@import "./fonts.scss";
@import "./mixins/stack.scss";
@import "./mixins/blinking.scss";
@import "./mixins/justify.scss";

@include padding-variant(4, $unit-4);
@include padding-variant(6, $unit-6);
@include padding-variant(8, $unit-8);
@include padding-variant(10, $unit-10);
@include margin-variant(4, $unit-4);
@include margin-variant(6, $unit-6);
@include margin-variant(8, $unit-8);
@include margin-variant(10, $unit-10);

@include justify-variant("end");
@include justify-variant("center");

@include bg-color-variant(".bg-white", $white);

@include stack('stack-4', $unit-4);

.extra-shadow {
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.25);
}

.flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-fit {
  flex: 0 1 fit-content;
}

.border-none {
  border: none;
}

.full-height {
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  color: $gray-color;
}


.App {
  --ssrc-label-control-shift: 0.8em;

  --ssrc-select-border-color: #{$gray-color};
  --ssrc-select-text-color: #{$gray-color};
  --ssrc-select-control-height: #{$control-size};
  --ssrc-select-trigger-text-color: #{$body-font-color};
  --ssrc-select-create-button-text-color: #{$primary-color};

  --ssrc-text-area-input-border-color: #{$gray-color};

  --ssrc-text-input-height: #{$control-size};
  --ssrc-text-input-color: #{$gray-color};
  --ssrc-text-input-border-color: #{$gray-color};
}