// Redefine variables from spectre.css
$control-size-lg: 2.5rem;
$primary-color: #538bdb;
$light-color: #f0eeeb;
$hover-color: #3e7dd7;
$active-color: #538dbd;
$gray-color: darkgray;
$white: #ffffff;
$base-font-family: 'San Francisco';
$second-font-family: 'Itim', cursive;
$border-radius: 1rem;
$transparent-background-color: rgba(255, 255, 255, 0.2);

// Define reusable style
.flex-center-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.flex-column-space-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flex-row {
	display: flex;
	flex-direction: row;
    align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
    align-items: center;
}

.diveSiteSubText {
    color: $light-color;
    font-family: $second-font-family;
    font-size: 0.7vw;
    align-self: self-start;
}

// Load default ones from spectre.css
@import 'node_modules/spectre.css/src/variables';

$responsive-breakpoints: (
	"sm": $size-sm,
	"xs": $size-xs,
	"md": $size-md,
	"lg": $size-lg,
	"xl": $size-xl,
	"2x": $size-2x,
);

$primaryBlue: #0073E6;
$secondaryYellow: #fdc500;
$themeWhite: #ffffff;
$themeBlack: #00171f;

$fontSizeHeader: 34px;
$fontSizeSubHeading: 24px;
$fontSizeStandardText: 18px;
$fontSizeSmallText: 14px;

$zIndexes: (
	"tooltip": 1
);


// export const fonts = {
// 	Black: "SFBlack",
// 	BlackItalic: "SFBlackItalic",
// 	Bold: "SFBold",
// 	BoldItalic: "SFBoldItalic",
// 	Italic: "SFItalic",
// 	Light: "SFLight",
// 	LightItalic: "SFLightItalic",
// 	Medium: "SFMedium",
// 	MediumItalic: "SFMediumItalic",
// 	Regular: "SFRegular",
// 	Thin: "SFThin",
// 	ThinItalic: "SFThinItalic",
//   }


//font imports
// SFBlack: require("./assets/SanFran/SF-Pro-Display-Black.otf"),
// SFBlackItalic: require("./assets/SanFran/SF-Pro-Display-BlackItalic.otf"),
// SFBold: require("./assets/SanFran/SF-Pro-Display-Bold.otf"),
// SFBoldItalic: require("./assets/SanFran/SF-Pro-Display-BoldItalic.otf"),
// SFItalic: require("./assets/SanFran/SF-Pro-Display-RegularItalic.otf"),
// SFLight: require("./assets/SanFran/SF-Pro-Display-Light.otf"),
// SFLightItalic: require("./assets/SanFran/SF-Pro-Display-LightItalic.otf"),
// SFMedium: require("./assets/SanFran/SF-Pro-Display-Medium.otf"),
// SFMediumItalic: require("./assets/SanFran/SF-Pro-Display-MediumItalic.otf"),
// SFRegular: require("./assets/SanFran/SF-Pro-Display-Regular.otf"),
// SFThin: require("./assets/SanFran/SF-Pro-Display-Thin.otf"),
// SFThinItalic: require("./assets/SanFran/SF-Pro-Display-ThinItalic.otf"),