.emptyState {
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: #f9f9f9;
    border: 1px dashed #dadada;
    border-radius: 0.5rem;
}

.emptyState p {
    font-weight: 500;
    margin: 0;
}

.error {
    border-color: red;
}