@import "../../styles/variables.scss";

.cardMain {
    background-color: $primaryBlue;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $themeWhite;
    font-weight: 200;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.cardMainAlt {
    background-color: $secondaryYellow;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $themeBlack;
    font-weight: 200;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.pic {
    border-radius: 30;
}
