@import "../../styles/variables.scss";

.cardMain {
    background-color: $primaryBlue;
    width: 90%;
    margin-top: 5px;
    display:grid;
    align-items: center;
    justify-content: center;
    color: $themeWhite;
    font-weight: 200;
    border-radius: 15px;
}
