@import "../../styles/variables.scss";

.cardMain {
    background-color: $primaryBlue;
    width: 90%;
    margin-top: 5px;
    padding-bottom: 5px;
    display:grid;
    align-items: center;
    justify-content: center;
    color: $themeWhite;
    font-weight: 200;
    border-radius: 15px;
}

.fullWidth {
    width: 100%;
}
.textDanger {
    background-color: $primaryRed;
    border-radius: 5px;
    width:86px;
}

.textSuccess {
    background-color: $secondaryYellow;
    color:$themeBlack;
    border-radius: 5px;
    width:86px;
    align-items: center;
    justify-content: center;
}