// ssrc: scuba seasons reusable component
.ssrc-secure-text-input {
  .ssrc-text-input__icon-right button {
    border: none;
    background: transparent;
    color: currentColor;
    cursor: pointer;
  }
}